.gameRules {
    
    height: inherit;
    width: 55%;
    background-color: rgb(2, 62, 138);
    color: rgb(250, 250, 250);
    font-size: 1vw;
    text-align: center;
    box-sizing: border-box;
    padding: 10px;
}

.gameRulesField {
    width: 80%;
    height: 11vh;
    display:flex; 
    flex-direction: row;
    gap: 80px;
    justify-content: flex-end; 
    align-items: center;
}