.gameStats {
    width: 20%;
    height: inherit;
    border-color: rgb(0, 119, 182);
    border: solid 5px;
    color: rgb(0, 119, 182);
    font-size: 0.8vw;
    text-align: center;
    box-sizing: border-box;
    white-space: pre-line;
}